html, body {
  overflow: auto;
  height: 100%;
}


.banner{
  /* background-color: rgba(15, 13, 36, 0.678); */
  text-align: center;
  background-image: linear-gradient(      45deg,
  rgba(38, 43, 71, 0.8),
  rgba(38, 43, 71, 0.8)), url(https://picsum.photos/3200/1800);
  background-size: cover;
  height: 100%;
  width: 100%;
  color: rgb(220, 220, 220);
  padding: 10px;
  display: flex;
}

.banner>div{
  margin: auto;
  justify-content: center;
}

.banner h1{
  font-size: 30pt;
}
p{
  color: #222;
}

.banner p{
  color: rgb(220, 220, 220);
}

.main-content{
  min-height: 85%;
}


.icon-footer{
  margin-right: 30px;
  color: azure;
}

li>a{

    text-decoration: none;
    color: azure;
  
}

.icon-footer:hover{
  color: rgb(126, 137, 192);
}

h2{
  font-size: 20pt;
}

li{
  list-style: none;
  margin-bottom: 5px;
  margin-right: 15px;
}

.features{
   padding-top: 40px;
  min-height: 320px;
  margin: 40px 0;
  vertical-align: middle;
}

.banner p{
  font-weight: 200;
  font-size: 20pt;
}

footer{
  padding: 30px;
  height: 15%;
  background-color: rgb(54, 60, 90);
}

li>a:hover{
  color: rgb(126, 137, 192);
} 
.main-content>.row{
  height: 100%;
}