html, body {
  overflow: auto;
  height: 100%;
}


.banner{
  /* background-color: rgba(15, 13, 36, 0.678); */
  text-align: center;
  background-image: linear-gradient(      45deg,
  rgba(38, 43, 71, 0.8),
  rgba(38, 43, 71, 0.8)), url(https://picsum.photos/3200/1800);
  background-size: cover;
  height: 100%;
  width: 100%;
  color: rgb(220, 220, 220);
  padding: 10px;
  display: flex;
}

.banner>div{
  margin: auto;
  justify-content: center;
}

.banner h1{
  font-size: 30pt;
}
p{
  color: #222;
}

.banner p{
  color: rgb(220, 220, 220);
}

.main-content{
  height: 100%;
  min-height: 90%;
}

.icon{
  height: 70px;
  margin: 10px;
  text-decoration: none;
}

h2{
  font-size: 20pt;
}

li{
  list-style: none;
}

.features{
  
  padding-top: 40px;
  min-height: 320px;
  margin: 40px 0;
  vertical-align: middle;
}

.banner p{
  font-weight: 200;
  font-size: 20pt;
}

footer{
  height: 10%;
  background-color: rgb(54, 60, 90);
}